.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h2 {
  background: linear-gradient(
    45deg,
    hsl(240deg 85% 64%) 0%,
    hsl(311deg 61% 46%) 10%,
    hsl(343deg 52% 50%) 20%,
    hsl(14deg 40% 47%) 30%,
    hsl(33deg 23% 43%) 40%,
    hsl(60deg 1% 46%) 50%,
    hsl(81deg 9% 51%) 60%,
    hsl(105deg 18% 58%) 70%,
    hsl(135deg 36% 64%) 80%,
    hsl(155deg 67% 65%) 90%,
    hsl(171deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.navbar > a:hover {
  background: linear-gradient(
    45deg,
    hsl(240deg 85% 64%) 0%,
    hsl(311deg 61% 46%) 10%,
    hsl(343deg 52% 50%) 20%,
    hsl(14deg 40% 47%) 30%,
    hsl(33deg 23% 43%) 40%,
    hsl(60deg 1% 46%) 50%,
    hsl(81deg 9% 51%) 60%,
    hsl(105deg 18% 58%) 70%,
    hsl(135deg 36% 64%) 80%,
    hsl(155deg 67% 65%) 90%,
    hsl(171deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-icons {
  display: flex;
  gap: 10px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
}

.hero-section > h1 {
  font-size: 3rem;
}
.hero-section > h1 > .name {
  background: linear-gradient(
    45deg,
    hsl(240deg 85% 64%) 0%,
    hsl(311deg 61% 46%) 10%,
    hsl(343deg 52% 50%) 20%,
    hsl(14deg 40% 47%) 30%,
    hsl(33deg 23% 43%) 40%,
    hsl(60deg 1% 46%) 50%,
    hsl(81deg 9% 51%) 60%,
    hsl(105deg 18% 58%) 70%,
    hsl(135deg 36% 64%) 80%,
    hsl(155deg 67% 65%) 90%,
    hsl(171deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-container {
  background: linear-gradient(
    45deg,
    hsl(240deg 85% 64%) 0%,
    hsl(311deg 61% 46%) 10%,
    hsl(343deg 52% 50%) 20%,
    hsl(14deg 40% 47%) 30%,
    hsl(33deg 23% 43%) 40%,
    hsl(60deg 1% 46%) 50%,
    hsl(81deg 9% 51%) 60%,
    hsl(105deg 18% 58%) 70%,
    hsl(135deg 36% 64%) 80%,
    hsl(155deg 67% 65%) 90%,
    hsl(171deg 100% 50%) 100%
  );
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
}

.hero-img {
  border-radius: 50%;
  width: 95%;
  height: 95%;
}

/* teck stack */

.teck-stack > h1 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}
.teck-stack > p {
  text-align: center;
}
.teck-stack > .teck-stack-brands {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4rem;
}

.project-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.project-section > h1 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}
.project-section > p {
  text-align: center;
}
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projects-cards > .card {
  width: 320px;
  border-radius: 10px;
  margin-top: 3rem;
  box-shadow: 3px 0px 40px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 0px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 40px -12px rgba(0, 0, 0, 0.75);
}
.card > .card-main {
  padding: 15px;
}
.card > .card-main > p {
  text-align: justify;
}
.card > .card-main > p span {
  color: gray;
  font-size: 0.9rem;
}

.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 50%;
}
footer {
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
footer > .footer-left {
  display: flex;
  gap: 10px;
}
.footer-left > a {
  color: black;
}
footer > .footer-right {
  display: flex;
  gap: 10px;
}
.footer-right > a {
  color: black;
}

/* footer */

.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top > .footer-top-left {
  background: linear-gradient(
    45deg,
    hsl(240deg 85% 64%) 0%,
    hsl(311deg 61% 46%) 10%,
    hsl(343deg 52% 50%) 20%,
    hsl(14deg 40% 47%) 30%,
    hsl(33deg 23% 43%) 40%,
    hsl(60deg 1% 46%) 50%,
    hsl(81deg 9% 51%) 60%,
    hsl(105deg 18% 58%) 70%,
    hsl(135deg 36% 64%) 80%,
    hsl(155deg 67% 65%) 90%,
    hsl(171deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.footer-top > .footer-top-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-icons {
  display: flex;
  gap: 20px;
}
